*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101923 !important;
}


/* header section */
.header{
    height: 100vh;
    background-image: url('../images/technology-network-background_34629-304.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.header-about{
  height: 60vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/about-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.header-contact{
  height: 60vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/about-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.nav-item a{
    font-weight: bold;
    color: #fff;
}

.dropdown-menu li a{
    color: black;
}
nav img{
    width:12rem;
}

.hero-section img{
    width: 35rem;
}

.hero-text > p{
    color:#3BAFCA;
}

.learnmore-btn{
    background: transparent !important;
    border: 1px solid #ffffff !important;
    color: #ffffff;
}
.learnmore-btn:hover{
  border-color: #33A9FF !important;
}



.happy-customer h3{
    font-size: 2.5rem;
}



.about-happy-customer p{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.hero-sec {
  margin-top: -28rem;
}

.happy-cust{
  background-color: #435D78;
  padding: 1rem;
  border-radius: 5px;
}

.logoimg{
  width: 2.5rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/* end header section */


.section-two{
    margin-top:6rem !important;
}

.section-three{
    margin-top: 5rem;
    height: 70vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.it-solution{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 7rem;
}

.light-bulb-new{
    font-size: 3rem;
    color: #fff;
}

.light-bulb{
    font-size: 2.5rem;
    color: #2B64F8;
}

.section-four{
    margin-top: 5rem;
}

.h-5{
  color: #3BAFCA;
}

.section-five{
    margin-top: 5rem;
}

.card-section-five-one{
    background-color:#766BF8 !important;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1.2rem;
    border: 1px solid #33A9FF !important;
}

.card-section-five-two{
    background-color:#1B293B !important;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #33A9FF !important;
}

.card-section-five-three{
    background-color: #2B64F8 !important;
    color: #ffffff;
    font-weight: bold;
    height: 21.5rem !important;
    border: 1px solid #33A9FF !important;
}

.card-section-five-three img{
    height: 15rem;
    padding-bottom: 2.1rem;
}


.card-section-five-four{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/image-new.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1.2rem;
    border: 1px solid #33A9FF !important;
}

.card-section-five-5{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/desky-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #33A9FF !important;
}

.section-six{
    margin-top: 5rem;
}

.section-seven{
    margin-top: 5rem; 
    background-color: #1B293B;
    
}

.line{
  margin: auto;
  width: 10rem;
  height: 0.2rem;
  background-color:#3BCAFA;  
}


.card-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    background-color: #435D78 !important;
}

.card-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.carousel-indicators {
    margin-bottom: -2rem !important;
}

#myCarousel{
    margin-top: 2rem;
}

.section-eight{
    height: 70vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/busi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sect-8{
  padding-top: 8rem;
}

.section-nine{
    background-color: #1B293B;
}

.about-section-nine{
  background-color: #1B293B;
  margin-top: 5rem;
}

.about-section-ten{
  margin-top: 5rem;
}

.about-section-11{
  margin-top: 5rem;
}

.about-section-card-1{
  background-color: #1B293B !important;
  
}

.about-card-2{
background-color: #33a9ff !important;

}

.about-card-3{
  background-color: #1fbf75 !important;
}

.about-card-4{
  background-color: #766bf8 !important;
}

.about-card-5{
  background-color: #435D78 !important;
}

.form-container{
  background-color: #1B293B !important;
  padding: 4rem !important;
}

.row-contact-card{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  row-gap: 0.6rem;
}

.sect-nine-row{
  padding-top: 5rem;
}

.why{
    font-size: 2rem;
    color: #fff;
}

.section-ten{
    margin-top: 5rem;
}

.card-porfolio1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/port1-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #33A9FF !important;
    height: 20rem !important;
}

.card-porfolio2{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/port2-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #33A9FF !important;
    height: 20rem !important;
}

.card-porfolio3{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/port3-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #33A9FF !important;
    height: 20rem !important;
}

.card-porfolio4{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/port4-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #33A9FF !important;
    height: 20rem !important;
}

.card-porfolio5{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/port5-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #33A9FF !important;
    height: 20rem !important;
    background-color: transparent;
}

.card-porfolio6{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/port6-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #33A9FF !important;
    height: 20rem !important;
}

.section-11{
    margin-top: 5rem;
    background-color:#435D78;
    padding: 2.5rem;
    border-radius:.4rem;
}

.section-12{
    margin-top: 5rem;
    background-color:#435D78;
}

.about-section-12{
  background-color:#435D78;
}

.about-section-12 img{
  width:12rem !important;
}


.section-12 img{
    width:12rem !important;
}
.section-13{
    height: 3rem;
    color: #ffffff;
}

.social-icon{
    font-size: 2rem;
}

.itm{
    margin-bottom: 0;
}

/* animation */


@keyframes write {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  .moving-paragraph {
    overflow: hidden;
    white-space: nowrap;
    animation: write 3s 1s forwards;
  }

 


  .card-17 {
   transition: transform 0.3s ease;
  }
  
  .card-17:hover {
    transform: scale(1.05);
  }
    
  .card-bod {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .card-17:hover .card-bod {
    opacity: 1;
  }

  .card-18 {
    transition: transform 0.3s ease;
   }
   
   .card-18:hover {
     transform: scale(1.05);
   }
     
   .card-bod {
     padding: 20px;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     transition: opacity 0.3s ease;
     opacity: 0;
   }
   
   .card-18:hover .card-bod {
     opacity: 1;
   }

   .card-19 {
    transition: transform 0.3s ease;
   }
   
   .card-19:hover {
     transform: scale(1.05);
   }
     
   .card-bod {
     padding: 20px;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     transition: opacity 0.3s ease;
     opacity: 0;
   }
   
   .card-19:hover .card-bod {
     opacity: 1;
   }

   .card-20 {
    transition: transform 0.3s ease;
   }
   
   .card-20:hover {
     transform: scale(1.05);
   }
     
   .card-bod {
     padding: 20px;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     transition: opacity 0.3s ease;
     opacity: 0;
   }
   
   .card-20:hover .card-bod {
     opacity: 1;
   }

   .card-21 {
    transition: transform 0.3s ease;
   }
   
   .card-21:hover {
     transform: scale(1.05);
   }
     
   .card-bod {
     padding: 20px;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     transition: opacity 0.3s ease;
     opacity: 0;
   }
   
   .card-21:hover .card-bod {
     opacity: 1;
   }

   .card-22 {
    transition: transform 0.3s ease;
   }
   
   .card-22:hover {
     transform: scale(1.05);
   }
     
   .card-bod {
     padding: 20px;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     transition: opacity 0.3s ease;
     opacity: 0;
   }
   
   .card-22:hover .card-bod {
     opacity: 1;
   }

   @media screen and (max-width:576px){

    #navbarSupportedContent{
      background-color: #fff;
      padding:1.5rem;
    }

    .nav-link{
      color: black !important;
      text-align: center;
      font-weight: bold;
    }

    .nav-bt{
      text-align: center;
    }

    .hero-sec{
      margin-top: -36rem;
    }

    .abc-p{
      text-align: center;
    }

    .abc{
      flex-direction: column;
    }

    .moving-paragraph{
      text-align: center;
      white-space: revert;
    }

    .bt{
      text-align: center;
    }

    .happy-cust{
      text-align: center;
      background-color: #435D78;
      padding: 1rem;
    }

    .sect-two{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.5rem !important;
  
    }

    .section-three {
      margin-top: 5rem;
      padding: 1rem;
      height: auto;
    }

    .it-solution {
      padding-top: 0rem !important;
  }

  .sect-five{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-section-five-three {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.sect-six{
  flex-direction: column;
}

.card-9,.card-10,.card-11,.card-12{
  margin-bottom: 1.2rem !important;
}



.section-eight {
  height:auto;
  padding: 2rem;
}

.sect-8 {
  padding-top:0rem;
}

.sect-nine{
  flex-direction: column;
}

.sct-10{
  text-align: center;
}

.card-14{
  margin-bottom: 0rem !important;
}

.card-16{
  margin-bottom: 0rem !important;
}

.sect-10{
  flex-direction: column;
}

.footer-p{
  font-size: 7px;
}


   }

   @media (min-width: 768px) and (max-width: 1024px){

    #navbarSupportedContent{
      background-color: #fff;
      padding:1.5rem;
    }

    .nav-link{
      color: black !important;
      text-align: center;
      font-weight: bold;
    }

    .nav-bt{
      text-align: center;
    }

    .hero-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12rem;
    margin-top: -40rem;
}
    .happy-cust{
      text-align: center;
    }

    .header{
      height: 75vh !important;
    }
   
    
    
.card-1,.card-2,.card-3{
  width: 14rem !important;
}

.section-two{
  margin-top: 10rem !important;
}

.section-three{
  height: 35vh;
}

.card-4,.card-5,.card-6,.card-7,.card-8{
  width: 14rem !important;
}

.card-6{
  height: 100% !important;
}

.card-section-five-three img {
  height: 13rem;
  padding-bottom: 0.1rem;
}

.section-eight {
  height: 35vh;
}

.footer-p{
  font-size: 14px;
}

.footer-p p{
  font-size: 14px;
}
}
   

   

  
  
  
  
  
  
  
